
<div class="container">
    <div class="row mt-2 row-cols-1 row-cols-sm-1 row-cols-lg-2 g-5">
        {% for workout in routine.workout_set.all %}
            <div class="col">
                <div class="d-flex flex-column justify-content-start align-items-start h-100 p-4 gap-2 routine_card workout_card">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        
                        <div class="d-flex justify-content-start align-items-center gap-3 w-100">
                            <img src="{{workout.exercise.image.url}}" class="rounded-circle overflow-hidden" style="width: 80px; height: 80px; object-fit: cover;"/>
                            <a href="{% url 'exercises:exercise_detail_view' workout.exercise.id %}">
                                <h2>{{workout.exercise}} </h2>
                            </a>
                        </div>

                        <h4>({{workout.exercise.get_equipment_category_display}}) </h4>
                    </div>
                    <div class="line"></div>
                    
                    <div class="table-container w-100">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>SET</th>
                                    <th>KG</th>
                                    <th>Repetition</th>
                                    <th>Action</th>
                                    <th><i class="bi bi-check-lg ms-4 me-4"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for set in workout.set_set.all %}
                                    <tr >
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ set.weight }}</td>
                                        <td>{{ set.repetition }}</td>
                                        <td>
                                            <div class="d-flex justify-content-center align-items-center gap-1">
                                                <a href="{% url 'workouts:update_set_view' workout.id set.id %}">
                                                    <button class="btn btn-info btn-sm">
                                                        <i class="bi bi-pencil-square"></i>
                                                    </button>
                                                </a>
                                                <a href="{% url 'workouts:delete_set_view' workout.id set.id %}" class="btn btn-danger btn-sm" 
                                                 onclick="return confirm('Are you sure you want to delete this set from {{ workout.exercise.name }}?');">
                                                 <i class="bi bi-x-square"></i>
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="{% url 'workouts:checked_set_view' workout.id %}">
                                               
                                                <h3>
                                                    <i class="bi bi-check-square ms-4 me-4"></i>
                                                </h3> 

                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{ forloop.counter|add:1 }}</td>
                                        <td><input type="number" name="weight" class="form-control"/> </td>
                                        <td><input type="number" name="repetition" class="form-control"/> </td>
                                        <td>
                                            <a href="{% url 'workouts:new_set_view' workout.id %}">
                                                <button class=" btn btn-warning btn-sm">Add Set</button>
                                            </a>
                                        </td>
                                        <td></td>
                                    </tr>
                                {% empty %}
                                <tr>
                                    <form class="d-flex flex-column gap-4" action="{% url 'workouts:new_set_view' workout.id %}" method="post" enctype="multipart/form-data">
                                        <td>1</td>
                                        <td><input type="number" name="weight" class="form-control"/> </td>
                                        <td><input type="number" name="repetition" class="form-control"/> </td>
                                        <td>
                                            <input type="submit" value="Add Set" class="btn btn-warning btn-sm"/>
                                        </td>
                                        <td></td>
                                    </form>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-center">No sets available.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
  </div>