{% extends 'main/base.html' %}

{% block title %} Sign In {% endblock %}

{% block content %}

{% load static %}

<div class="d-flex flex-column justify-content-center align-items-center w-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-lg-8 transparent-bg">
                <div class="d-flex flex-column justify-content-start align-items-start">
                    <h2 class="m-0">Sign In</h2>
                </div>
                <div class="line mb-4"></div>

                <form class="d-flex flex-column gap-4" action="{% url 'accounts:sign_in' %}{% if 'next' in request.GET %}?next={{request.GET.next}}{% endif %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="username" name="username">
                        <label for="floatingInput">User name</label>
                    </div>

                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                        <label for="floatingPassword">Password</label>
                    </div>

                    <button type="submit" class="btn" style="background-color: #fcd15c; color: black">Sign In</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}