{% extends 'main/base.html' %}

{% block title %} Contact Us {% endblock %}

{% block content %}

{% load static %}

<div class="d-flex flex-column justify-content-center align-items-center w-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-lg-7">
                <div class="d-flex flex-column justify-content-start align-items-start mb-3">
                    <h2 class="">Can't Wait To Here From YOU!</h2>
                </div>
                <form class="d-flex flex-column gap-4" action="{% url 'main:contact_view' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="d-flex flex-row justify-content-between gap-2" style="width: 100%;">
                        <input type="text" name="first_name" placeholder="First Name" class="form-control" required/>
                        <input type="text" name="last_name" placeholder="Last Name" class="form-control" required/>
                    </div>
                    <input type="email" name="email" class="form-control" required placeholder="Email Address" />
                    <textarea name="message" class="form-control" required style="height: 100px;"> </textarea>

                    <input type="submit" value="Submit" class="btn" style="background-color: #4335A7; color: #EDF4F2"/>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}