body {

    background-color: #ffce47cb;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 4rem;
    color: #ffce47;
}

h1, h2 {
    word-spacing: 6px;
}

main {
    min-height: 100vh;
    background-image: url('/static/images/gym-equipment.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* padding-top: 0.5rem; */
}

main {
    color: #fcd15c;
}

footer a{
    color: black;
}

.dropdown-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.transparent-bg {
    background-color: rgba(83, 83, 83, 0.3); 
    border-radius: 8px;
    padding: 20px; 
    backdrop-filter: blur(2px); 
}

.table {
    border-radius: 0.5rem; 
    overflow: hidden;
}

.label-bg {
    background-color: #ffce4790; 
    border-radius: 8px;
    padding: 10px; 
    margin: 10px;
    backdrop-filter: blur(2px); 
}
