{% extends 'main/base.html' %}

{% block title %} Exercises {% endblock %}

{% block content %}

{% load static %}

<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="transparent-bg d-flex flex-column flex-lg-row justify-content-center align-items-center justify-content-lg-between align-items-lg-center gap-sm-2 gap-md-3 col-lg-10">
        <div  class="d-flex flex-row justify-content-between align-items-center gap-5">
            <h1>
                Search Results ({{exercises.count}})
            </h1>
            <h2 class="">
                 Results for: {{request.GET.search}}
            </h2> 
        </div>

        <form class="d-flex" role="search" method="get" action="{% url 'exercises:search_exercises_view' %}">
            <div class="d-flex flex-row justify-content-center align-items-center gap-3">
                <input  class="form-control me-2" type="search" placeholder="Search For Exercise" aria-label="Search" name="search" value="{{request.GET.search}}" required minlength="3">
    
                <select name="filter_workout_category" class="form-select">
                    <option value="">Filter By Workout Category</option>
                    {% for value, display in workout_categories %}
                        <option value="{{value}}" {% if request.GET.filter_workout_category == workout_category %} selected {% endif %}>{{ display }}</option>
                    {% endfor %}
                </select>

                <input type="submit" value="apply" class="btn btn-outline-success"/>
            </div>
        </form>
    </div>
    <div class="line mt-5"></div>

    
    {% include 'exercises/exercises_list.html' %}    

</div>
    

<div class="line mt-5"></div>

{% endblock %}